<div class="article a_{{number}} saved_{{saved}} origin_{{origin}}" data-number="">
	{{# article}}
	<h1 class="title">
		<div class="interior">
			{{title}}
			<a href="{{url}}" target="_blank" class="gfx-open-filled"></a>
		</div>
	</h1>
	<div class="content">
		<div class="interior">
			{{{content}}}
		</div>
	</div>

	<span class="published">published on: {{date_published}}</span>

	<span class="flourish gfx-ornament_1"></span>
	{{/ article}}
</div>