<div class="nav" data-number="{{index}}">
	<div class="slide">
		<span class="grab"></span>
		<p>{{{title}}}</p>
	</div>
	<div class="slide_shadow">
		{{{title}}}
	</div>
	<div class="nav_ctrl">
		<div class="nav_ctrl_delete"></div>
		<div class="nav_ctrl_save"></div>
		<div class="nav_ctrl_read"></div>
	</div>
</div>